@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
$primary-color: #70c919;
$secondary-color: #27ad6c;
$hero-image: url(../img/hero.png);

@mixin easeInOut {
  transition: all 0.3s ease-in-out;
}
