#footer {
  background: #333;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  .copyright {
    color: #fff;
    font-size: 14px;
  }

  ul {
    display: flex;

    li {
      list-style: none;
      margin-right: 20px;

      a {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;

        &:hover {
          color: $primary-color;
          @include easeInOut();
        }
      }
    }
  }
}
